@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebSiteBanSach.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<style>
    .action-link {
        display: inline-block;
        width: 50px;
        margin-bottom: 8px;
    }
</style>

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().MaDonHang)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().DaThanhToan)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().TinhTrangGiaoHang)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().NgayDat)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().NgayGiao)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().MaKH)
        </th>
        <th class="text-center">Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td class="text-center">
                @if (item.DaThanhToan == 1)
                {
                    <span>Đã thanh toán</span>
                }
                else
                {
                    <span>Chưa thanh toán</span>
                }
            </td>
            <td class="text-center">
                @if (item.TinhTrangGiaoHang == 1)
                {
                    <span>Đã giao hàng</span>
                }
                else
                {
                    <span>Chưa giao hàng</span>
                }
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
            </td>
            <td class="text-center">
                <a class="btn btn-warning action-link" href="@Url.Action("Sua", "QuanLyDonHang", new { @MaDonHang = item.MaDonHang })">Sửa</a> 
                <a class="btn btn-primary action-link" href="@Url.Action("XemChiTiet", "QuanLyDonHang", new { @MaDonHang = item.MaDonHang })">Xem</a>
                <a class="btn btn-danger action-link" href="@Url.Action("Xoa", "QuanLyDonHang", new { @MaDonHang = item.MaDonHang })">Xóa</a>
            </td>
        </tr>
    }

</table>

<p class="text-center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</p>
<div style="display:inline;" class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>