@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebSiteBanSach.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().MaKH)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().HoTen)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().TaiKhoan)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().DiaChi)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.First().DienThoai)
        </th>
        <th class="text-center">
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.TaiKhoan)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td class="text-center">
                <a class="btn btn-primary action-link" href="@Url.Action("XemChiTiet", "QuanLyKhachHang", new { @MaKH = item.MaKH })">Xem</a>
                <a class="btn btn-danger action-link" href="@Url.Action("Xoa", "QuanLyKhachHang", new { @MaKH = item.MaKH })">Xóa</a>
            </td>
        </tr>
    }

</table>

<p class="text-center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</p>
<div style="display:inline;" class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>